<h1 mat-dialog-title>Νέα καταχώρηση</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill" class="margin-small max-width-med">
        <mat-label>Ημερομηνία</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>ΗΗ/ΜΜ/ΕΕΕΕ</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="margin-small max-width-med">
        <mat-label>Όνομα</mat-label>
        <input matInput [(ngModel)]="record">
    </mat-form-field>
    <mat-form-field appearance="fill" class="margin-small max-width-med">
        <mat-label>Τοποθεσία</mat-label>
        <input matInput [(ngModel)]="record">
    </mat-form-field>
    <mat-form-field appearance="fill" class="margin-small max-width-med">
        <mat-label>Τύπος πυρομαχικού</mat-label>
        <input matInput [(ngModel)]="record">
    </mat-form-field>
    <mat-form-field appearance="fill" class="margin-small max-width-med">
        <mat-label>Τιμή πώλησης (ανα Τμχ)</mat-label>
        <input matInput [(ngModel)]="record">
    </mat-form-field>
    <mat-form-field appearance="fill" class="margin-small max-width-med">
        <mat-label>Τιμή αγοράς (ανα Τμχ)</mat-label>
        <input matInput [(ngModel)]="record">
    </mat-form-field>
    <mat-form-field appearance="fill" class="margin-small max-width-med">
        <mat-label>Ποσότητα</mat-label>
        <input matInput [(ngModel)]="record">
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="onNoClick()">Ακύρωση</button>
    <button mat-raised-button color="primary" cdkFocusInitial>Ok</button>
</div>