<h1 mat-dialog-title>Νέα καταχώρηση</h1>
<div mat-dialog-content>
    <div [formGroup]="shootingRecordFormControl">
        <mat-form-field appearance="fill" class="margin-small max-width-med">
            <mat-label><b>Ημερομηνία</b></mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="data.record.saleDate" formControlName="saleDate">
            <mat-hint>ΗΗ/ΜΜ/ΕΕΕΕ</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="margin-small max-width-med">
            <mat-label><b>Τοποθεσία</b></mat-label>
            <input matInput [(ngModel)]="data.record.location" formControlName="location">
        </mat-form-field>

        <mat-form-field appearance="fill" class="margin-small max-width-med">
            <mat-label><b>Τύπος</b></mat-label>
            <mat-select [(ngModel)]="data.record.type" formControlName="type">
                <mat-option>None</mat-option>
                <mat-option value="A-match">Αγώνας</mat-option>
                <mat-option value="B-training">Προπόνηση</mat-option>
                <mat-option value="C-championship">Πρωταθληματικός Αγώνας</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="margin-small max-width-med">
            <mat-label><b>{{ 'shooter' | translate}}</b></mat-label>
            <mat-select multiple formControlName="name">
                <mat-option *ngFor="let shooter of data.shooters" [value]="shooter.id">{{ shooter.name }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="margin-small max-width-med">
            <mat-label><b>{{ 'ammoType' | translate }}</b></mat-label>
            <mat-select [(ngModel)]="data.record.slugType" formControlName="slugType">
                <mat-option>None</mat-option>
                <mat-option value="9mm">9mm</mat-option>
                <mat-option value="0.22&quot;">0.22"</mat-option>
                <mat-option value="0.40&quot;">0.40"</mat-option>
                <mat-option value="0.45&quot;">0.45"</mat-option>
                <mat-option value="0.308&quot;">0.308"</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="margin-small max-width-med">
            <mat-label><b>{{ 'quantity' | translate }}</b></mat-label>
            <input matInput [(ngModel)]="data.record.quantity" formControlName="quantity">
        </mat-form-field>

        <mat-form-field appearance="fill" class="margin-small max-width-med">
            <mat-label><b>Τιμή αγοράς (ανα Τμχ)</b></mat-label>
            <input matInput [(ngModel)]="data.record.priceBought" formControlName="priceBought">
        </mat-form-field>

        <mat-form-field appearance="fill" class="margin-small max-width-med">
            <mat-label><b>Τιμή πώλησης (ανα Τμχ)</b></mat-label>
            <input matInput [(ngModel)]="data.record.priceSold" formControlName="priceSold">
        </mat-form-field>

    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="onNoClick()">Ακύρωση</button>
    <button mat-raised-button color="primary" (click)="onSave()" cdkFocusInitial>Ok</button>
</div>