<div class="container" class="mat-elevation-z8">
    <div style="padding-top:5px">
        <button mat-fab color="primary" class="first-button margined-button" (click)="createShootingRecord()"><mat-icon class="material-symbols-outlined">
          add
          </mat-icon>
        </button>
        <button mat-fab color="primary" class="margined-button" (click)="printContent()"><mat-icon class="material-symbols-outlined">
            print
            </mat-icon>
          </button>
        <!-- https://stackoverflow.com/questions/68651907/translated-value-inside-mat-option-causes-expressionchangedafterithasbeenchecked -->
        <mat-form-field appearance="fill" class="margined-search">
            <mat-label><b>{{ 'view' | translate }}</b></mat-label>
            <mat-select (selectionChange)="setFilters();getShootingRecords()" [(ngModel)]="monthScope">
                <mat-option value="month">Μήνας</mat-option>
                <mat-option value="semester">Εξάμηνο</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="margined-search">
            <mat-label><b>Διαμέτρημα</b></mat-label>
            <mat-select (selectionChange)="changeAmmoType()" [(ngModel)]="caliberSearch">
                <mat-option>{{ 'all' | translate }}</mat-option>
                <mat-option value="9mm">9mm</mat-option>
                <mat-option value="22mm">22mm</mat-option>
                <mat-option value="40mm">40mm</mat-option>
                <mat-option value="45mm">45mm</mat-option>
                <mat-option value="308mm">308mm</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="margined-search">
            <mat-label><b>{{ 'search' | translate }}</b></mat-label>
            <input matInput [(ngModel)]='searchText' (keyup)="filterRecords()">
        </mat-form-field>

    </div>
    <div #recordsTable>
        <table class="full-width" mat-table [dataSource]="dataSource" matSort>

            <!-- S Date Column -->
            <ng-container matColumnDef="saleDate">
                <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header> <b>{{ 'saleDate' | translate }}</b> </th>
                <td mat-cell class="med" *matCellDef="let element" data-label="saleDate"> {{element.saleDate}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- Location Column -->
            <ng-container matColumnDef="location">
                <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header> <b>{{ 'location' | translate }}</b> </th>
                <td mat-cell class="med" *matCellDef="let element" data-label="location"> {{element.location}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="type">
                <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header> <b>{{ 'gameType' | translate }}</b> </th>
                <td mat-cell class="med" *matCellDef="let element" data-label="type"> {{element.type | translate}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="shooterName">
                <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header> <b>{{ 'shooter' | translate }}</b> </th>
                <td mat-cell class="med" *matCellDef="let element" data-label="shooterName"> {{element.shooterName}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- caliber Column -->
            <ng-container matColumnDef="caliber">
                <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header> <b>{{ 'caliber' | translate }}</b> </th>
                <td mat-cell class="med" *matCellDef="let element" data-label="caliber"> {{element.caliber}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- quantityType Column -->
            <ng-container matColumnDef="quantityType">
                <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header> <b>{{ 'quantityType' | translate }}</b> </th>
                <td mat-cell class="med" *matCellDef="let element" data-label="quantityType"> {{element.quantityType | translate}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- quantity Column -->
            <ng-container matColumnDef="quantity">
                <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header> <b>{{ 'quantity' | translate }}</b> </th>
                <td mat-cell class="med" *matCellDef="let element" data-label="quantity"> {{element.quantity}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- Price Sold Column -->
            <ng-container matColumnDef="priceSold">
                <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header> <b>{{ 'priceSoldPerUnit' | translate }}</b> </th>
                <td mat-cell class="med" *matCellDef="let element" data-label="priceSold"> {{element.priceSold}} €</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- Price Bought Column -->
            <ng-container matColumnDef="priceBought">
                <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header> <b>{{ 'priceBoughtPerUnit' | translate }}</b> </th>
                <td mat-cell class="med" *matCellDef="let element" data-label="priceBought"> {{element.priceBought}} €</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- Profit per unit Column -->
            <ng-container matColumnDef="profitPerUnit">
                <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header> <b>{{ 'profitPerUnit' | translate }}</b> </th>
                <td mat-cell class="med" *matCellDef="let element" data-label="profitPerUnit"> {{element.profitPerUnit}} €</td>
                <td mat-footer-cell class="med" *matFooterCellDef> {{ profitPerUnit }} €</td>
            </ng-container>

            <!-- Profit Column -->
            <ng-container matColumnDef="profit">
                <th mat-header-cell class="med" *matHeaderCellDef mat-sort-header> <b>{{ 'totalProfit' | translate }}</b> </th>
                <td mat-cell class="med" *matCellDef="let element" data-label="profit"> {{element.profit}} €</td>
                <td mat-footer-cell *matFooterCellDef class="med pd-right"> {{ totalProfit }} €</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-mini-fab color="primary" style="margin:5px" (click)="$event.stopPropagation(); editShootingRecord(row)">
                    <mat-icon class="material-symbols-outlined smaller">
                        edit
                        </mat-icon>
                    </button>
                    <button mat-mini-fab color="warn" style="margin:5px" (click)="$event.stopPropagation(); deleteShootingRecord(row)">
                        <mat-icon class="material-symbols-outlined smaller">
                            delete
                            </mat-icon>
                        </button>
                </mat-cell>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
    </div>
</div>