<div>
    <button class="small-margin" mat-raised-button color="primary" [routerLink]="['']">
        <mat-icon>receipt</mat-icon>
        <span>Home</span>
    </button>
    <button class="small-margin" mat-raised-button color="primary" [routerLink]="['/shooters']">
        <mat-icon>person</mat-icon>
        <span>{{ 'shooters' | translate}}</span>
    </button>
    <button class="small-margin" mat-raised-button color="primary" [routerLink]="['/vault']">
        <mat-icon>lock</mat-icon>
        <span>{{ 'vault' | translate}}</span>
    </button>

    <div>
        <div class="shadowed">
            <button *ngFor="let caliber of remaining" mat-raised-button class="small-margin" [ngClass]="{'error': caliber.quantity < 0}">{{ caliber.name | translate }} : {{ caliber.quantity }} </button>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>