<h1 mat-dialog-title>Νέα καταχώρηση</h1>
<div mat-dialog-content>
    <div [formGroup]="vaultRecordFormControl">

        <mat-form-field appearance="fill" class="margin-small max-width-med">
            <mat-label><b>{{ 'supplierName' | translate}}</b></mat-label>
            <input matInput [(ngModel)]="data.record.supplierName" formControlName="supplierName">
        </mat-form-field>

        <mat-form-field appearance="fill" class="margin-small max-width-med">
            <mat-label><b>{{ 'caliber' | translate }}</b></mat-label>
            <mat-select [(ngModel)]="data.record.caliber" formControlName="caliber">
                <mat-option>None</mat-option>
                <mat-option value="9mm">9mm</mat-option>
                <mat-option value="22mm">22mm</mat-option>
                <mat-option value="40mm">40mm</mat-option>
                <mat-option value="45mm">45mm</mat-option>
                <mat-option value="308mm">308mm</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="margin-small max-width-med">
            <mat-label><b>{{ 'quantityType' | translate }}</b></mat-label>
            <mat-select [(ngModel)]="data.record.quantityType" formControlName="quantityType">
                <mat-option>None</mat-option>
                <mat-option value="box">Κουτί</mat-option>
                <mat-option value="unit">Τεμάχιο</mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field appearance="fill" class="margin-small max-width-med">
            <mat-label><b>{{ 'quantity' | translate }}</b></mat-label>
            <input matInput [(ngModel)]="data.record.quantity" formControlName="quantity">
        </mat-form-field>

        <mat-form-field appearance="fill" class="margin-small max-width-med">
            <mat-label><b>{{ 'licenceNo' | translate }}</b></mat-label>
            <input matInput [(ngModel)]="data.record.licenceNo" formControlName="licenceNo">
        </mat-form-field>

        <mat-form-field appearance="fill" class="margin-small max-width-med">
            <mat-label><b>{{ 'purchaseDate' | translate}}</b></mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="data.record.purchaseDate" formControlName="purchaseDate">
            <mat-hint>ΗΗ/ΜΜ/ΕΕΕΕ</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="onNoClick()">Ακύρωση</button>
    <button mat-raised-button color="primary" (click)="onSave()" cdkFocusInitial>Ok</button>
</div>